#phonescreen {
    position: fixed;
    top: 5%;
    left: 50%;
    transform: translate(-50%, -0%);
    height: 820px;
    width: 450px; 
    background-color: lightblue;
    border-radius: 10px;
    font: 17px arial, sans-serif;
}

#tray {
    transform: scale(0.3);
    position: fixed;
    top:-8%;
    left:55%;
    
}

#square {
    position: absolute;
    height: 75px;
    width: 75px;
    top: 737px;
    left: 102px;
    background-color:#75a5f1;
    border-radius: 10px;
}

#clock {
    transform: scale(0.3);
    position: fixed;
    top:675px;
    left:40px;
    
}

#calendar {
    transform: scale(0.3);
    position: fixed;
    top:675px;
    left:210px;
    
}

#titlebar {
    border-radius: 10px 10px 0px 0px;
    width:450px;
    height:70px;
    background-color:#3b80ef;
    
}

#titletext {
    color: rgb(255, 255, 255);
    font: 28px arial, sans-serif;
    text-align: center;
}

#bottombar {
    position:fixed;
    top:89%;
    border-radius: 0px 0px 10px 10px;
    width:450px;
    height:90px;
    background-color:#3b80ef;
    
}

#canvas{
   position: fixed;
   top:100px;
    background-color:transparent;
}

#addBtn{
    position:fixed;
    top:65%;
    left:50%;
    transform: translate(-50%, -0%);
    height:100px;
    width:100px;
}

.pill{
    width:25px;
    height:25px;
}

.popup {
    position: absolute;
    left:50%;
    top:70%;
    display: inline-block;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.popup .popuptext {
    visibility: hidden;
    width: 400px;
    background-color: rgb(233, 233, 233);
    color: rgb(54, 54, 54);
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    transform: translate(-50%, -0%);
}

.popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: rgb(235, 235, 235) transparent transparent transparent;
}

.popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
}

@-webkit-keyframes fadeIn {
    from {opacity: 0;} 
    to {opacity: 1;}
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
}

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 250px;
    background-color: rgb(233, 233, 233);;
    color: rgb(54, 54, 54);
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    
    position: absolute;
    z-index: 1;
    top: -5px;
    left: 105%;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: -1;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
    }
    
    
.modal-content {
    background-color: #b33e3e;
    margin: 3% auto; 
    padding: 10px;
    border: 1px solid #888;
    border-radius: 10px;
    width: 90%; 
    height: 70px;    
}

    
.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
    }

#alarmText {
    color: rgb(255, 255, 255);
    font: 20px arial, sans-serif;
    
}

#closeButton{
    position:fixed;
    top: 14px;
    right: 8px;
    border-radius: 0px 10px 10px 0px;
    width:120px;
    height:90px;
    background-color:#bb0000;
    
}

#closeText{
    color: white;
    font: 28px arial, sans-serif;
    text-align: center;
}

#paracetamol{
    z-index: 1;
    position: absolute;
    left:370px;
    top: 230px;
}

#backingcircle2{
    position: absolute;
    top: 123px;
    left: -27px;
    width: 20px;
    height: 20px;
    background: white;
    -moz-border-radius: 150px;
    -webkit-border-radius: 150px;
    border-radius: 150px;
   
}

#circle {
    width: 100px;
    height: 100px;
    background: white;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
}

#loestrin{
    z-index: 1;
    position: absolute;
    left:32px;
    top: 310px;
}

#userpill{
    z-index: 1;
    position: absolute;
    left:310px;
    top: 470px;
}

#abovescreen{
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translate(-50%, -0%);
    height: 820px;
    width: 450px; 
    border-radius: 10px;
    font: 17px arial, sans-serif;
}

.pill{
    transform: scale(1.3);
}

.pill2{
    transform: scale(0.22);
}
