<!DOCTYPE html>

<html>
    <head>
        <title>Pill App</title>
        <link rel="stylesheet" type="text/css" href="/public/stylesheet.css">
    </head>

    <body>
        <div id="phonescreen">
        
            <canvas id="canvas" width="500" height="500"
                style="background-color:white">
            </canvas>
         
            <div id="list">
                <ul>
                    <% todolist.forEach(function(todo, index) { %>
                    
                        <li><img id="pill" style="width:20px;height:20px" src="/public/media/pill.png">  
                            <%= todo %> <a href="/todo/delete/<%= index %>">✘</a>
                        </li>
                    <% }); %>
                </ul>

                <form action="/todo/add/" method="post">
                    <p>
                        <label id="addpill" for="newtodo">Add a new pill and when you need to take it</label>
                        <br>
                        <input type="text" name="pillname" id="pillname" autofocus />
                        <input type="time" name="pilltime" id="pilltime"/>
                        <input type="submit" />
                    </p>
                </form>
            </div>
        </div>

        <script type="text/javascript" src="/public/clock.js"></script>
        
    </body> 
</html>